/* IS 270 Final Project
Greg Blodgett, Ethan Bond, Joe Faith, HyeJin Moon, & David Taylor */

    /* index */
    @media only screen and (max-width:767px) {
        /* Styling for area where you can book a flight ticket */
        .booking{
          text-align: center;
          border-style: outset;
          box-shadow: 7px 7px grey;
        }
        /* Styling for text that displays ticket price */
        #ticket_cost{
          color: #000000;
        }
        /* Styling for PayPal image */
        #PP{
          vertical-align: middle;
          margin-left: auto;
          margin-right: auto;
          align-content: center;
          height: 30px;
          width: 50px;
          opacity: inherit;
        }
        .layover{
          text-align: center;
          background-color: white;
        }
      }
      @media only screen and (min-width:768px) {
      body, h1 {
        margin-top:0;
        margin-bottom: 0;
      }
      header h1 {
        font-weight: normal;
      }
      .full-width {
        width:100%;
      }
      html, body {
        margin: 0;
      }
      .float-box{
      box-shadow: 0 4px 8px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      padding:5px;
      background-color: white;
      }
      #plane {
        width: 100%;
        height: 99%;
      }
          /* about */
      @media only screen and (max-width:767px){
        .text{
          position:absolute;
          top:25%;
          left:10%;
          color:#FFFFFF;
        }
        .text h2{
          font-size:2em;
        }
        .text p{
          font-size: 1.5em;
        }
        .main{
          width:100%;
          height:10%;
        }
        .main h2{
          font-size:2.5em;
        }
        .main p{
          font-size:1em;
        }
        .vision, .mission{
          width:90%;
          height:95%;
          background-color:#e6f2ff;
          padding:3%;
          margin:2%;
        }
        .vision img, .mission img{
          width:90%;
          height:70%;
          text-align:center;
          padding:1em;
        }
      }
      @media only screen and (min-width:768px){
        .about {
          width:100%;
          height:10%;
        }
        .about img {
          width: 100%;
        }
        .text{
          position:absolute;
          top:30%;
          left:10%;
          color:#FFFFFF;
        }
        .boxes{
          width:90%;
          height:auto;
          text-align:center;
          background-color:#FFFFFF;
          padding:5%;
          bottom:50%;
        }
        .vision, .mission{
          width:40%;
          float:left;
          height:18em;
          background-color:#e6f2ff;
          padding:2.5%;
          margin:1em;
        }
        .vision img, .mission img{
          width:50%;
          height:40%;
        }
        .mission{
          width:40%;
          float:right;
          height:18em;
          background-color:#e6f2ff;
          padding:2.5%;
          margin:1em;
        }
        .mission img{
          width:50%;
          height:40%;
        }
      }
      
          /* booking */
      .payment {
        margin: 0 auto;
        padding: 2px 16px;
      }
          /* parking */
 
    @media only screen and (max-width:767px)
    {
    .blah{
      position:relative;
      padding:5%;
      height:100%;
      width:100%;
    }
    
    .blah img{
      width:90%;
      height:100%;
      opacity:0.8;
    }
    .text{
      position:absolute;
      padding:5%;
      background-color:rgba(80,80,80,.7);
      width:65%;
      top:10%;
      font-size:0.3em;
      height:60%;
    }
    
    .text a {
      color: #cce6ff;
      font-size:0.3em;
    }
    }
    
    @media only screen and (min-width:768px)
    {
    .blah{
      position:relative;
      padding:5%;
      height:60%;
      width:100%;
    }
    
    .blah img{
      width:90%;
      height:20%;
    
      opacity:0.8;
    }
    .text{
      padding:5%;
      background-color:rgba(80,80,80,.7);
      width:60%;
      top:20%;
      font-size:0.6em;
    }

    .text a {
      color: #cce6ff;
    }
  }
}